{
  "mongouri" : "mongodb://127.0.0.1/physioDOM_queue",
  "server"   : "http://admin:Physi%40D0m%23@192.168.1.232"
  "key"      : "D9C7F19C-7588-4C39-91BB-FBFEFE1BE90A",
  "appSri"   : "plt.treedb.srv/web",
  "retry"    : 5
}